---
import { imageUrlFor } from '../../lib/sanityClient';
import type { SanityImageSource } from '@sanity/image-url/lib/types/types';

interface Props {
    bgColor: string;
    title: string;
    description: string;
    logo: SanityImageSource;
}

const { bgColor, title, description, logo } = Astro.props;
---
<div class="rounded-lg p-8 text-white flex flex-col h-full" style={`background-color: ${bgColor}`}>
    <img src={imageUrlFor(logo).width(200).url()} alt={`Logo ${title}`} class="h-12 w-auto mb-4 filter brightness-0 invert">
    <h3 class="text-3xl font-light mb-4">{title}</h3>
    <p class="flex-grow mb-6">{description}</p>
    <a href="#" class="mt-auto bg-white text-gray-800 px-6 py-2 rounded-md font-bold self-start hover:bg-gray-200 transition-colors">
        ENTRAR
    </a>
</div> 